body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px black;
  }
  .choices {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    margin-top: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .playerImgs,
  .computerImgs {
    display: flex;
    width: auto;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.048);
    padding: 0px;
    border: solid black 5px;
    border-radius: 10px;
    max-height: 90px;
  }
  img {
    width: 90px;
    height: 90px;
  }
  .pImg:hover {
    cursor: pointer;
    border: solid black 3px
    
  }
  .active {
    border: solid black 3px
    
  }
  
  .winner {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .reset {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 200px;
    height: 60px;
    background-color: rgba(233, 96, 203, 0.507);
    color: black;
    font-size: x-large;
    border: 1px solid black;
    border-radius: 5px;
  }
  .reset:hover {
    cursor: pointer;
  }
  .winnerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .scoring {
    display:flex;
    gap: 20px;
    background-color: rgb(247, 137, 240);
    padding: 10px;
    border: solid gold 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .scoreboard { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(34, 199, 253);
    text-shadow: 0 0 0px black;
  }